

body{
    font-family: 'Raleway', Arial, sans-serif;
    background: #000000;
}
    
.circle {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    background: #ff00ff;
}


.square {
    width: 200px;
    height: 100px;
    background: #0000ff;
}


.album-list {
    margin-left: auto;
    margin-right: auto;
   width: 370px; 
}

.album {
    display: inline-block;
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 100%;
    background: #ffffff;
}

.user-image {
    display: inline-block;
    width: 20px;
    height: 20px;
    background: #ffffff;
}
.user-list {
    width: 200px;
    list-style: none;
}

.user-list li{
    padding: 5px;
    background: #ff00ff;
    border-bottom: 1px solid;
}





